<template>
  <div v-scroll-reveal="slideUp" class="home-features"></div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'HomeFeatures',
  data() {
    return {}
  },
})
</script>

<style lang="scss" scoped>
.home-features {
  width: 100vw;
  padding: 80px;
  @include flexRc;
  @include flexRGap(40px);
  flex-wrap: wrap;
}
</style>
